.git
.gitconfig
.bash_history
.ssh
.ssh/
*.pyc
*.log
*.dump
.vscode-server/
.cache/
.local/
__pycache__/
env/
venv/
.idea/
.vscode/
.config/
.bash_logout
.bash_profile
.bashrc
.env